.phone {
    margin: 10px;
    width: 80%;
    padding-top: calc(16/9*80%);
    background-color: #F8F8F8;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.1);
    box-shadow: 5px 9px 20px 3px rgba(0,0,0,0.5);
}

.phone > .phone__wrapper {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f9fbfc;
    box-shadow: 0px 0px 5px 4px rgba(0,0,0,0.15) inset;
    border-radius: 40px;
}

.phone__content {
    background-color: #F8F8F8;
    padding:10%;
    display:flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 95%;
    border-radius: 25px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 30px;
    margin: 10px;
}

.inputLayout {
    background-color: white;
    margin-top:30px;
    padding:10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border:1px solid grey;
    
}

.inputLayout input {
    border-radius: 5px;
    border:none;
    width:100%;
    height: 100%;
}

.forgotPassword{
    width:100%;
    height:30px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.forgotPassword span{
    color:#E2283E;
    margin-top: 10px;
    font-size: 11px;
    font-weight: 700;
}

.rememberMe {
    margin-bottom:40px;
    width:100%;
    height:30px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.rememberMe span {
    color: grey;
    font-weight: bold;
    font-size: 12px;
}

.btn{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.signIn {
    background-color: #E2283E;
}

.btn span{
    color:white;
    font-size: 12px;
}

.or{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 13px;
}

.otherBtn{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.otherBtn__twitter{
    background-color: #5DA1F1;
}

.otherBtn__facebook{
    background-color: #475A95;
    margin-right: 20px;
}

.otherRequest{
    margin-top:15px;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.otherRequest__q {
    color: grey;
    font-size: 13px;
    margin-right: 5px;
}

.otherRequest__a {
    color: #E2283E;
    font-size: 13px;
    font-weight: 700;
}

