@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import 'reset.css';
@import 'price.css';
@import 'profile.css';

*{
    box-sizing: border-box
}

body {
    font-family: 'Noto Sans', 'sans-serif';
}

.box {
    margin: 0;
    padding: 0;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
  