.nav{
    background-color: rgb(252, 252, 252);
    height: 110px;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    border-top:.5px solid rgb(223, 223, 223);
    padding: 0 8%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.nav i {
    font-size: 23px;
}

.nav__icon {
    height:100%;
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav > .blue {
    border-top: 2px solid #3F67FF;
    color :#3F67FF;
}

.nav .center__wrapper{
    position: absolute;
    top:-35px;
    width: 70px;
    height:70px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
}

.nav .center {
    width: 60px;
    height: 60px;
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #3F67FF;
    border-radius: 50%;
    color:white;
    border: 3px solid white;
    box-shadow: 0 4px 5px 3px rgba(70, 112, 226, 0.363);
}

.fa-home,
.fa-users,
.fa-cog {
    color:#9AA9C2;
}