.screen__container {
    width: 400px;
    height: 300px;
    position: absolute;
}

.screen__main-second{
    width:100%;
    height:300px;
    background-color: #f8a4a1;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color: white;
    transition: all .3s linear;
    transform-origin: top;
}
.screen__main-second > i{
    transition: all .3s linear;
}

.screen__main-second:hover {
    transform:scaleY(.7);
}

.screen__main-second:hover > i{
    transform:scaleY(calc(1/0.7));
}

.screen__main-second:hover ~.screen__nav{
    height:100px;
    transform: translateY(-100px);
}


.screen__nav{
    overflow: hidden;
    height:0;
    padding: 0px 20px;
    background-color: #28394A;
    display:flex;
    justify-content: space-between;
    transition: .3s linear;
    transform-origin: top;
}

.screen__nav .float__title {
    margin-top:10px;
}
.screen__nav .float__btn {
    margin:60px 0px 10px 0px;
}